.navbar {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 81%, rgba(0,212,255,1) 100%);
    color: white;
}
#active {
    color: yellow !important;
}
.navbar a:link, .navbar a:visited {
        color: white !important;
}

.navbar a:hover{
    color: #808080 !important;
    text-decoration: underline;
}

.dropdown-menu a:hover {
    color: black !important;
}

.hidden {
    display: none;
}